<h2>Simple Blog</h2>

<form [formGroup]="postForm"(ngSubmit)="onSubmit()">
  <div>
    <label>
      Title
      <br>
      <input type="text" formControlName="title">
    </label>
  </div>
  <div *ngIf="postForm.get('title').invalid&&postForm.get('title').touched" style="color: red">
    Body is required and min length is 10
  </div>

  <ul>
    <li *ngFor="let post of postList;index as i">
      <h3>
        <a [routerLink]="['/blog',post.id,'edit']">
          post Id:{{post.id}}-{{post.title}}
        </a>
      </h3>
      <a [routerLink]="['/blog',post.id,'edit']">Edit</a>

      <button (click)="deletePost(i)">Delete</button>
    </li>
  </ul>
</form>
